@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


body {
    background-image: url("../src/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    background-color: #cccccc;
  }



.center {
  height: 6.3vh;
  width: 9.4vw;
  
}

.btn {
position:absolute;
width: 9.4vw;
  height: 6.3vh;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0; 
  height: 6.3vh;
  width: 9.4vw;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
polyline{
    stroke-width:2;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #3280ce;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 1.8vh;
  font-weight: 100;
}   


// .col-3 {
//   float: left;
//   width: 27.33%;
//   margin: 40px 3%;
//   position: relative;
// } /* necessary to give position: relative to parent. */
// input[type="text"] {
//   font: 15px/24px "Lato", Arial, sans-serif;
//   color: #333;
//   width: 100%;
//   box-sizing: border-box;
//   letter-spacing: 1px;
// }

// .effect-20 {
//   border: 1px solid #ccc;
//   padding: 7px 14px;
//   transition: 0.4s;
//   background: transparent;
// }

// .effect-20 ~ .focus-border:before,
// .effect-20 ~ .focus-border:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 2px;
//   background-color: #3280ce;
//   transition: 0.3s;
// }
// .effect-20 ~ .focus-border:after {
//   top: auto;
//   bottom: 0;
//   left: auto;
//   right: 0;
// }
// .effect-20 ~ .focus-border i:before,
// .effect-20 ~ .focus-border i:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 2px;
//   height: 0;
//   background-color: #3280ce;
//   transition: 0.4s;
// }
// .effect-20 ~ .focus-border i:after {
//   left: auto;
//   right: 0;
//   top: auto;
//   bottom: 0;
// }
// .effect-20:focus ~ .focus-border:before,
// .effect-20:focus ~ .focus-border:after,
// .has-content.effect-20 ~ .focus-border:before,
// .has-content.effect-20 ~ .focus-border:after {
//   width: 100%;
//   transition: 0.3s;
// }
// .effect-20:focus ~ .focus-border i:before,
// .effect-20:focus ~ .focus-border i:after,
// .has-content.effect-20 ~ .focus-border i:before,
// .has-content.effect-20 ~ .focus-border i:after {
//   height: 100%;
//   transition: 0.4s;
// }
// .effect-20 ~ label {
//   position: absolute;
//   left: 14px;
//   width: 100%;
//   top: 10px;
//   color: #aaa;
//   transition: 0.3s;
//   z-index: -1;
//   letter-spacing: 0.5px;
// }
// .effect-20:focus ~ label,
// .has-content.effect-20 ~ label {
//   top: -18px;
//   left: 0;
//   font-size: 12px;
//   color: #3280ce;
//   transition: 0.3s;
// }

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.button2 {
  position: relative;
  display: inline-block;  
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 0.15vw solid #a183e4;
  transition: all 0.1s linear;

  &:hover {
    border: 1px solid transparent;
    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 2s linear infinite;
      }
      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      &:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #ffffff);
        animation: animate2 2s linear infinite;
        animation-delay: 0.5s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }
      &:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, #1afd52);
        animation: animate3 2s linear infinite;
        animation-delay: 1s;
      }
      @keyframes animate3 {
        0% {
          right: -100%;
          height: 3px;
        }
        50%,
        100% {
          height: 2px;
          right: 100%;
        }
      }

      &:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #ffffff);
        animation: animate4 2s linear infinite;
        animation-delay: 1.5s;
      }
      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }
  }
}
input[type="transparent"]
{width: 10vw;
  height: 5vh;
    opacity: 0.2;
    border: none;
    background-color: white;
  }

  .leaderboard {
    max-width: 40vw;
    width: 100%;
    border-radius: 12px; 
  
    
    header {
      --start: 15%;
      
      height: 130px;
      background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
      color: #fff;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
      
      .leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
        
        &--top {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 6.5px;
        }
        
        &--bottom {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 3.55px;
          opacity: .65;
          transform: translateY(-2px);
        }
      }
      
      .leaderboard__icon {
        fill: #fff;
        opacity: .35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
      }
    }
    
    &__profiles {
      background-color: #fff;
      border-radius: 0 0 12px 12px;
      padding: 15px 15px 20px;
      display: grid;
      row-gap: 8px;
    }
    
    &__profile {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 10px 30px 10px 10px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: #fff;
      
      &:hover {
        opacity:0.9;
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
      }
    }
    
    &__picture {
      max-width: 100%;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
    }
    
    &__name {
      color: #979cb0;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 12px;
    }
    
    &__value {
      color: #35d8ac;
      font-weight: 700;
      font-size: 34px;
      text-align: right;
      
      & > span {
        opacity: .8;
        font-weight: 600;
        font-size: 13px;
        margin-left: 3px;
      }
    }
  }
  
  
  
  
  // bare minimuu styles
  
  .leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
  }


  @mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
  }
  
  
  
  
  @mixin bp-mobileOnly {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  
  @mixin bp-small {
    @media only screen and (min-width: 481px) and (max-width: 640px) {
      @content;
    }
  }
  
  @mixin bp-medium {
    @media only screen and (min-width: 641px) and (max-width: 960px) {
      @content;
    }
  }
  
  @mixin bp-large {
    @media only screen and (min-width: 961px) and (max-width: 1200px) {
      @content;
    }
  }
  
  @mixin bp-xl {
    @media only screen and (min-width: 1201px) {
      @content;
    }
  }


  .card-container {
    height: 282px;
    width: 200px;
    background-color: white;
    background-size: cover;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    @include transition (all, 0.25s, ease);
    @include bp-medium {
      margin-left: -195px;
    }
    @include bp-small {
      margin-left: -198px;    
    }
    @include bp-mobileOnly {
      margin-left: -200px;    
    }
  }
